@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */

body {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}

.big {
  font-size: 1.5rem;
}

/* navbar styles */
.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
}
nav {
  padding: 85px 6.25vw 50px 6.25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li {
  font-size: 1rem;
  font-weight: 600;
}

/* mobile nav */
.mobile-nav {
  padding: 16px;
  display: none;
}
.mobile-vav-title {
  font-weight: 700;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text-container {
  padding-left: 6.25vw;
}

.banner-img-container {
  background-image: url("./images/circle-design.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-img-container img {
  width: 440px;
  margin-right: 8.6vw;
}

.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
}

.banner-description {
  font-weight: 600;
  max-width: 600px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.banner-btn {
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 24px;
  color: #fff;
  border: 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* brand image section */
.brand-img-container {
  margin: 70px 8vw;
  display: flex;
  gap: 60.42px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* popular collection style */
.popular-collection {
  padding: 30px 10vw 100px 10vw;
  margin: 0 auto;
}
.popular-title {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 30px;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.card {
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 329px;
  height: 476px;
}

.card img {
  width: 300px;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 6px;
}
.card-price {
  font-size: 1.5rem;
}

.card-detail {
  width: 210px;
  font-size: 0.875rem;
  color: #787885;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}
/* responsive styles */

.more-btn {
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  border: 0;
  background-color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  right: 22vw;
  left: 70vw;
}

/* feature section style */
.feature-product {
  display: flex;
  gap: 5vw;
  padding: 0px 8.5vw 100px 8.5vw;
  justify-content: center;
  align-items: center;
}
.feature-title {
  color: #0a0826;
  font-size: 2.4rem;
  font-weight: 700;
}
.feature-details {
  max-width: 500px;
  color: #6c6c6c;
  font-weight: 700;
  line-height: 1.75rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.square {
  border-radius: 0;
}
@media screen and (max-width: 576px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner-img-container {
    margin: 20px auto 50px auto;
    max-width: 80vw;
  }

  .banner-img-container img {
    max-width: 100%;
  }

  .banner-title {
    font-size: 1.75rem;
  }
  .banner-text-container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
  .banner-btn {
    margin: 0 auto;
  }
  .brand-img-container {
    margin: 40px 6vw;
    gap: 30px;
  }
  .brand-img-container img {
    width: 60px;
  }
  .cards-container {
    grid-template-columns: 330px;
    gap: 15px;
  }
  .more-btn {
    left: 65vw;
    right: 5vw;
  }
  .feature-product {
    flex-direction: column-reverse;
    padding: 20px;
    text-align: center;
    margin-top: -50px;
  }
  .feature-title {
    font-size: 1.5rem;
  }
  .feature-img-container img {
    max-width: 300px;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  .cards-container {
    grid-template-columns: repeat(2, 330px);
    gap: 15px;
  }
  .more-btn {
    left: 72vw;
    right: 15vw;
  }
  .feature-product {
    padding: 0 1vw 100px 1vw;
  }
}
